<p>bussearchresult works!</p>

<!-- <h1 *ngFor="let data of busSearch">{{data.name}} </h1> -->

<div class="row">
<label><b>Filter By</b></label>
<select name="" id="">
    <option value="">By Bus</option>
</select>
<select name="" id="">
    <option value="">By Type</option>
</select>
</div>




<table class="table" style="width: 50%;"> 
        <thead>
          <tr>
            <th scope="col">Bus Name</th>
            <th scope="col">Dept. Time</th>
            <th scope="col">Coach Time</th>
            <th scope="col">Seats Available</th>
            <th scope="col">Fare</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of busSearch">
            <!-- <th scope="row" *ngFor="let data of busSearch">1</th> -->
            <td>{{data.name}}</td>
            <td>{{data.time}}</td>
            <td>{{data.coach_type}}</td>
            <td>{{data.seat}}</td>
            <td>{{data.fare}}</td>
            <td><button><a [routerLink]="['/selectseat']">View Seats</a></button></td>    
          </tr>
          <tr>
        </tbody>
      </table>